--
-- PostgreSQL database dump
--

\restrict Hx4TOOUEV6EgZO4DhDlzwpYq6fbJCM9btnGjv0j46zoNnNt13LZp926PSzLvDsb

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    user_id uuid,
    action character varying(50) NOT NULL,
    entity_type character varying(50),
    entity_id uuid,
    metadata jsonb,
    ip_address inet,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO radiotedu_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: radiotedu_user
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO radiotedu_user;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: radiotedu_user
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: device_sessions; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.device_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    device_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.device_sessions OWNER TO radiotedu_user;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.devices (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    device_code character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    location character varying(200),
    is_active boolean DEFAULT true,
    current_song_id uuid,
    last_heartbeat timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    password text
);


ALTER TABLE public.devices OWNER TO radiotedu_user;

--
-- Name: queue_items; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.queue_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    device_id uuid NOT NULL,
    song_id uuid NOT NULL,
    added_by uuid NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying,
    priority_score numeric(10,2) DEFAULT 0,
    upvotes integer DEFAULT 0,
    downvotes integer DEFAULT 0,
    "position" integer,
    added_at timestamp without time zone DEFAULT now(),
    played_at timestamp without time zone
);


ALTER TABLE public.queue_items OWNER TO radiotedu_user;

--
-- Name: radio_schedule; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.radio_schedule (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    day_of_week smallint NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    show_name character varying(200) NOT NULL,
    dj_name character varying(100),
    description text,
    is_live boolean DEFAULT true,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.radio_schedule OWNER TO radiotedu_user;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token_hash character varying(255) NOT NULL,
    device_fingerprint character varying(255),
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.refresh_tokens OWNER TO radiotedu_user;

--
-- Name: songs; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.songs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(200) NOT NULL,
    artist character varying(200) NOT NULL,
    album character varying(200),
    duration_seconds integer NOT NULL,
    file_url character varying(500) NOT NULL,
    cover_url character varying(500),
    genre character varying(50),
    play_count integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    score integer DEFAULT 100
);


ALTER TABLE public.songs OWNER TO radiotedu_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    display_name character varying(100) NOT NULL,
    avatar_url character varying(500),
    is_guest boolean DEFAULT false,
    role character varying(20) DEFAULT 'user'::character varying,
    rank_score integer DEFAULT 0,
    vote_weight numeric(5,2) DEFAULT 1.0,
    total_songs_added integer DEFAULT 0,
    total_upvotes_received integer DEFAULT 0,
    total_downvotes_received integer DEFAULT 0,
    is_banned boolean DEFAULT false,
    fcm_token character varying(500),
    push_preferences jsonb DEFAULT '{"radio": true, "jukebox": true, "podcast": true}'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    last_ip character varying(45),
    user_agent text,
    last_super_vote_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO radiotedu_user;

--
-- Name: votes; Type: TABLE; Schema: public; Owner: radiotedu_user
--

CREATE TABLE public.votes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    queue_item_id uuid NOT NULL,
    user_id uuid NOT NULL,
    vote_type smallint NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.votes OWNER TO radiotedu_user;

--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--

COPY public.audit_logs (id, user_id, action, entity_type, entity_id, metadata, ip_address, created_at) FROM stdin;
\.


--
-- Data for Name: device_sessions; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--

COPY public.device_sessions (id, user_id, device_id, created_at) FROM stdin;
19aad0d6-f029-4b24-a0ea-1fe81448a0cb	ba988ff1-607e-4240-9681-36138543fb98	c28fdf0e-2f70-46c6-ac23-5b7055d67c2e	2026-01-29 15:01:36.138269
97acc5c2-e8ba-403f-9a97-4ee03509ef51	2682a812-c43a-498e-a9bf-c89f05fc4ff4	c28fdf0e-2f70-46c6-ac23-5b7055d67c2e	2026-01-29 15:28:33.351276
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--

COPY public.devices (id, device_code, name, location, is_active, current_song_id, last_heartbeat, created_at, password) FROM stdin;
1612450b-c005-47f4-9ec1-eed9f54543df	RADIO-01	Ana Kiosk	Radyo St├╝dyosu	t	\N	2026-01-27 16:43:34.693904	2026-01-26 18:32:51.650609	\N
c28fdf0e-2f70-46c6-ac23-5b7055d67c2e	CHILL-IN	Chill-In		t	2528820f-345f-4d18-a70f-4e8763b2febd	2026-01-29 17:45:03.899819	2026-01-27 17:40:58.503904	1343
\.


--
-- Data for Name: queue_items; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--



--
-- Data for Name: radio_schedule; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--

COPY public.radio_schedule (id, day_of_week, start_time, end_time, show_name, dj_name, description, is_live, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--



--
-- Data for Name: songs; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--



--
-- Data for Name: votes; Type: TABLE DATA; Schema: public; Owner: radiotedu_user
--



--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: radiotedu_user
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: device_sessions device_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_pkey PRIMARY KEY (id);


--
-- Name: device_sessions device_sessions_user_id_device_id_key; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_user_id_device_id_key UNIQUE (user_id, device_id);


--
-- Name: devices devices_device_code_key; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_device_code_key UNIQUE (device_code);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: queue_items queue_items_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.queue_items
    ADD CONSTRAINT queue_items_pkey PRIMARY KEY (id);


--
-- Name: radio_schedule radio_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.radio_schedule
    ADD CONSTRAINT radio_schedule_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: songs songs_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.songs
    ADD CONSTRAINT songs_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: votes votes_pkey; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_pkey PRIMARY KEY (id);


--
-- Name: votes votes_queue_item_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_queue_item_id_user_id_key UNIQUE (queue_item_id, user_id);


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_audit_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_user; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_audit_user ON public.audit_logs USING btree (user_id, created_at DESC);


--
-- Name: idx_device_sessions_lookup; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_device_sessions_lookup ON public.device_sessions USING btree (user_id, device_id);


--
-- Name: idx_queue_device_status; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_queue_device_status ON public.queue_items USING btree (device_id, status);


--
-- Name: idx_queue_priority; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_queue_priority ON public.queue_items USING btree (device_id, priority_score DESC) WHERE ((status)::text = 'pending'::text);


--
-- Name: idx_refresh_user; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_refresh_user ON public.refresh_tokens USING btree (user_id);


--
-- Name: idx_schedule_day; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_schedule_day ON public.radio_schedule USING btree (day_of_week);


--
-- Name: idx_songs_search; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_songs_search ON public.songs USING gin (to_tsvector('simple'::regconfig, (((title)::text || ' '::text) || (artist)::text)));


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_rank; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_users_rank ON public.users USING btree (rank_score DESC);


--
-- Name: idx_votes_queue; Type: INDEX; Schema: public; Owner: radiotedu_user
--

CREATE INDEX idx_votes_queue ON public.votes USING btree (queue_item_id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: device_sessions device_sessions_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_sessions device_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: devices fk_devices_current_song; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT fk_devices_current_song FOREIGN KEY (current_song_id) REFERENCES public.songs(id);


--
-- Name: queue_items queue_items_added_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.queue_items
    ADD CONSTRAINT queue_items_added_by_fkey FOREIGN KEY (added_by) REFERENCES public.users(id);


--
-- Name: queue_items queue_items_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.queue_items
    ADD CONSTRAINT queue_items_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- Name: queue_items queue_items_song_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.queue_items
    ADD CONSTRAINT queue_items_song_id_fkey FOREIGN KEY (song_id) REFERENCES public.songs(id);


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: votes votes_queue_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_queue_item_id_fkey FOREIGN KEY (queue_item_id) REFERENCES public.queue_items(id) ON DELETE CASCADE;


--
-- Name: votes votes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: radiotedu_user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Hx4TOOUEV6EgZO4DhDlzwpYq6fbJCM9btnGjv0j46zoNnNt13LZp926PSzLvDsb

